@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    min-height: 0;
}

img,
iframe,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Dancing Script", cursive;
}
